<a href="https://colab.research.google.com/github/spaceo521/Data-Science-Projects/blob/main/Untitled23.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
import matplotlib.pyplot as plt

In [4]:
df = pd.read_csv('ODI_data.csv')

In [5]:
df.head(2)

,Innings Player,Innings Runs Scored,Innings Runs Scored Num,Innings Minutes Batted,Innings Batted Flag,Innings Not Out Flag,Innings Balls Faced,Innings Boundary Fours,Innings Boundary Sixes,Innings Batting Strike Rate,...,Innings Overs Bowled,Innings Bowled Flag,Innings Maidens Bowled,Innings Runs Conceded,Innings Wickets Taken,4 Wickets,5 Wickets,10 Wickets,Innings Wickets Taken Buckets,Innings Economy Rate
0,E Lewis,65,65,128,1.0,0.0,80,8,1,81.25,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,N Pooran,42,42,69,1.0,0.0,52,4,1,80.76,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
df.columns

Index(['Innings Player', 'Innings Runs Scored', 'Innings Runs Scored Num',
       'Innings Minutes Batted', 'Innings Batted Flag', 'Innings Not Out Flag',
       'Innings Balls Faced', 'Innings Boundary Fours',
       'Innings Boundary Sixes', 'Innings Batting Strike Rate',
       'Innings Number', 'Opposition', 'Ground', 'Innings Date', 'Country',
       '50's', '100's', 'Innings Runs Scored Buckets', 'Innings Overs Bowled',
       'Innings Bowled Flag', 'Innings Maidens Bowled',
       'Innings Runs Conceded', 'Innings Wickets Taken', '4 Wickets',
       '5 Wickets', '10 Wickets', 'Innings Wickets Taken Buckets',
       'Innings Economy Rate'],
      dtype='object')

In [9]:
df['Innings Runs Scored Num'].unique()

array(['65', '42', '18', '17', '13', '11', '5', '0', '120', '71', '20',
       '16', '3', '2', '1', '-', nan, '40', '6', '4', '87', '54', '46',
       '30', '12', '69', '39', '14', '10', '9', '8', '7', '82', '52',
       '41', '15', '98', '43', '19', '111', '48', '36', '25', '67', '60',
       '84', '59', '55', '47', '85', '49', '45', '34', '29', '22', '74',
       '28', '77', '50', '32', '23', '35', '122', '100', '95', '103',
       '113', '53', '96', '27', '64', '58', '33', '31', '73', '56', '86',
       '62', '106', '24', '57', '104', '26', '66', '51', '118', '105',
       '101', '21', '79', '44', '102', '88', '80', '72', '97', '68', '89',
       '38', '83', '63', '148', '166', '90', '76', '37', '70', '124',
       '94', '140', '153', '107', '117', '121', '92', '78', '75', '114',
       '115', '130', '128', '151', '110', '138', '135', '109', '61',
       '179', '170', '112', '116', '91', '143', '93', '123', '145', '81',
       '150', '162', '108', '131', '133', '137', '146', '139', '125',
       '129', '157', '152', '144', '99', '127', '210', '147', '126',
       '181', '160', '180', '208', '176', '168', '141', '132', '119',
       '154', '185', '134', '156', '164', '173', '178', '171', '149',
       '237', '159', '161', '215', '264', '136', '169', '209', '174',
       '189', '183', '163', '219', '158', '175', '177', '200', '194'],
      dtype=object)

In [11]:
df = df[df['Innings Runs Scored Num'] != '-']

In [15]:
df['Innings Runs Scored Num'].unique()

array(['65', '42', '18', '17', '13', '11', '5', '0', '120', '71', '20',
       '16', '3', '2', '1', nan, '40', '6', '4', '87', '54', '46', '30',
       '12', '69', '39', '14', '10', '9', '8', '7', '82', '52', '41',
       '15', '98', '43', '19', '111', '48', '36', '25', '67', '60', '84',
       '59', '55', '47', '85', '49', '45', '34', '29', '22', '74', '28',
       '77', '50', '32', '23', '35', '122', '100', '95', '103', '113',
       '53', '96', '27', '64', '58', '33', '31', '73', '56', '86', '62',
       '106', '24', '57', '104', '26', '66', '51', '118', '105', '101',
       '21', '79', '44', '102', '88', '80', '72', '97', '68', '89', '38',
       '83', '63', '148', '166', '90', '76', '37', '70', '124', '94',
       '140', '153', '107', '117', '121', '92', '78', '75', '114', '115',
       '130', '128', '151', '110', '138', '135', '109', '61', '179',
       '170', '112', '116', '91', '143', '93', '123', '145', '81', '150',
       '162', '108', '131', '133', '137', '146', '139', '125', '129',
       '157', '152', '144', '99', '127', '210', '147', '126', '181',
       '160', '180', '208', '176', '168', '141', '132', '119', '154',
       '185', '134', '156', '164', '173', '178', '171', '149', '237',
       '159', '161', '215', '264', '136', '169', '209', '174', '189',
       '183', '163', '219', '158', '175', '177', '200', '194'],
      dtype=object)

In [20]:
df = df[(df['Innings Runs Scored Num'] != '-') & (df['Innings Runs Scored Num'].notna())]

In [21]:
df['Innings Runs Scored Num'].unique()

array(['65', '42', '18', '17', '13', '11', '5', '0', '120', '71', '20',
       '16', '3', '2', '1', '40', '6', '4', '87', '54', '46', '30', '12',
       '69', '39', '14', '10', '9', '8', '7', '82', '52', '41', '15',
       '98', '43', '19', '111', '48', '36', '25', '67', '60', '84', '59',
       '55', '47', '85', '49', '45', '34', '29', '22', '74', '28', '77',
       '50', '32', '23', '35', '122', '100', '95', '103', '113', '53',
       '96', '27', '64', '58', '33', '31', '73', '56', '86', '62', '106',
       '24', '57', '104', '26', '66', '51', '118', '105', '101', '21',
       '79', '44', '102', '88', '80', '72', '97', '68', '89', '38', '83',
       '63', '148', '166', '90', '76', '37', '70', '124', '94', '140',
       '153', '107', '117', '121', '92', '78', '75', '114', '115', '130',
       '128', '151', '110', '138', '135', '109', '61', '179', '170',
       '112', '116', '91', '143', '93', '123', '145', '81', '150', '162',
       '108', '131', '133', '137', '146', '139', '125', '129', '157',
       '152', '144', '99', '127', '210', '147', '126', '181', '160',
       '180', '208', '176', '168', '141', '132', '119', '154', '185',
       '134', '156', '164', '173', '178', '171', '149', '237', '159',
       '161', '215', '264', '136', '169', '209', '174', '189', '183',
       '163', '219', '158', '175', '177', '200', '194'], dtype=object)

In [23]:
df.head(1)

,Innings Player,Innings Runs Scored,Innings Runs Scored Num,Innings Minutes Batted,Innings Batted Flag,Innings Not Out Flag,Innings Balls Faced,Innings Boundary Fours,Innings Boundary Sixes,Innings Batting Strike Rate,...,Innings Overs Bowled,Innings Bowled Flag,Innings Maidens Bowled,Innings Runs Conceded,Innings Wickets Taken,4 Wickets,5 Wickets,10 Wickets,Innings Wickets Taken Buckets,Innings Economy Rate
0,E Lewis,65,65,128,1.0,0.0,80,8,1,81.25,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [28]:
df['Innings Date'] = pd.to_datetime(df['Innings Date'])

<ipython-input-28-c1d5c1cc0f2c>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Innings Date'] = pd.to_datetime(df['Innings Date'])

In [29]:
df['year'] = df['Innings Date'].dt.year

<ipython-input-29-0595cad78730>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['year'] = df['Innings Date'].dt.year

In [30]:
df.head(1)

,Innings Player,Innings Runs Scored,Innings Runs Scored Num,Innings Minutes Batted,Innings Batted Flag,Innings Not Out Flag,Innings Balls Faced,Innings Boundary Fours,Innings Boundary Sixes,Innings Batting Strike Rate,...,Innings Bowled Flag,Innings Maidens Bowled,Innings Runs Conceded,Innings Wickets Taken,4 Wickets,5 Wickets,10 Wickets,Innings Wickets Taken Buckets,Innings Economy Rate,year
0,E Lewis,65,65,128,1.0,0.0,80,8,1,81.25,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019

In [47]:
df['Innings Runs Scored Num'] = df['Innings Runs Scored Num'].astype(int)

<ipython-input-47-a6128ef8f7ad>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Innings Runs Scored Num'] = df['Innings Runs Scored Num'].astype(int)

In [49]:
df['Innings Balls Faced'] = df['Innings Balls Faced'].astype(int)

<ipython-input-49-efe5b2917b38>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Innings Balls Faced'] = df['Innings Balls Faced'].astype(int)

In [51]:
df['Innings Not Out Flag'] = df['Innings Not Out Flag'].astype(int)

<ipython-input-51-047f45934f4a>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Innings Not Out Flag'] = df['Innings Not Out Flag'].astype(int)

In [42]:
sachin_df = df[(df.year>=1994) & (df.year<=2004)]

In [32]:
virat_df = df[(df.year>=2009) & (df.year<=2019)]

In [53]:
sachin_df.head(2)

Empty DataFrame
Columns: [Innings Player, Innings Runs Scored, Innings Runs Scored Num, Innings Minutes Batted, Innings Batted Flag, Innings Not Out Flag, Innings Balls Faced, Innings Boundary Fours, Innings Boundary Sixes, Innings Batting Strike Rate, Innings Number, Opposition, Ground, Innings Date, Country, 50's, 100's, Innings Runs Scored Buckets, Innings Overs Bowled, Innings Bowled Flag, Innings Maidens Bowled, Innings Runs Conceded, Innings Wickets Taken, 4 Wickets, 5 Wickets, 10 Wickets, Innings Wickets Taken Buckets, Innings Economy Rate, year]
Index: []

[0 rows x 29 columns]

In [54]:
virat_df.head(2)

,Innings Player,Innings Runs Scored,Innings Runs Scored Num,Innings Minutes Batted,Innings Batted Flag,Innings Not Out Flag,Innings Balls Faced,Innings Boundary Fours,Innings Boundary Sixes,Innings Batting Strike Rate,...,Innings Bowled Flag,Innings Maidens Bowled,Innings Runs Conceded,Innings Wickets Taken,4 Wickets,5 Wickets,10 Wickets,Innings Wickets Taken Buckets,Innings Economy Rate,year
0,E Lewis,65,65,128,1.0,0.0,80,8,1,81.25,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019
1,N Pooran,42,42,69,1.0,0.0,52,4,1,80.76,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019

In [52]:
df.dtypes

Innings Player                           object
Innings Runs Scored                      object
Innings Runs Scored Num                   int64
Innings Minutes Batted                   object
Innings Batted Flag                     float64
Innings Not Out Flag                      int64
Innings Balls Faced                       int64
Innings Boundary Fours                   object
Innings Boundary Sixes                   object
Innings Batting Strike Rate              object
Innings Number                           object
Opposition                               object
Ground                                   object
Innings Date                     datetime64[ns]
Country                                  object
50's                                    float64
100's                                   float64
Innings Runs Scored Buckets              object
Innings Overs Bowled                     object
Innings Bowled Flag                     float64
Innings Maidens Bowled                   object
Innings Runs Conceded                    object
Innings Wickets Taken                    object
4 Wickets                               float64
5 Wickets                               float64
10 Wickets                              float64
Innings Wickets Taken Buckets            object
Innings Economy Rate                     object
year                                      int32
dtype: object

In [55]:
sdf = sachin_df[sachin_df['Innings Player']=='Sachin Tendulkar']

In [56]:
sdf.head(2)

Empty DataFrame
Columns: [Innings Player, Innings Runs Scored, Innings Runs Scored Num, Innings Minutes Batted, Innings Batted Flag, Innings Not Out Flag, Innings Balls Faced, Innings Boundary Fours, Innings Boundary Sixes, Innings Batting Strike Rate, Innings Number, Opposition, Ground, Innings Date, Country, 50's, 100's, Innings Runs Scored Buckets, Innings Overs Bowled, Innings Bowled Flag, Innings Maidens Bowled, Innings Runs Conceded, Innings Wickets Taken, 4 Wickets, 5 Wickets, 10 Wickets, Innings Wickets Taken Buckets, Innings Economy Rate, year]
Index: []

[0 rows x 29 columns]

In [57]:
sum(sdf['Innings Runs Scored Num'])

0

In [58]:
vdf = virat_df[virat_df['Innings Player']=='Virat Kohli']

In [59]:
sum(vdf['Innings Runs Scored Num'])

0

In [60]:
vdf

Empty DataFrame
Columns: [Innings Player, Innings Runs Scored, Innings Runs Scored Num, Innings Minutes Batted, Innings Batted Flag, Innings Not Out Flag, Innings Balls Faced, Innings Boundary Fours, Innings Boundary Sixes, Innings Batting Strike Rate, Innings Number, Opposition, Ground, Innings Date, Country, 50's, 100's, Innings Runs Scored Buckets, Innings Overs Bowled, Innings Bowled Flag, Innings Maidens Bowled, Innings Runs Conceded, Innings Wickets Taken, 4 Wickets, 5 Wickets, 10 Wickets, Innings Wickets Taken Buckets, Innings Economy Rate, year]
Index: []

[0 rows x 29 columns]

In [61]:
sum(df['Innings Runs Scored Num'])/len(vdf),sum(df['Innings Runs Scored Num'])/len(sdf)

ZeroDivisionError: division by zero

In [62]:
if len(vdf) > 0:
    avg_virat = sum(df['Innings Runs Scored Num'])/len(vdf)
else:
    avg_virat = 0  # or any other appropriate value

if len(sdf) > 0:
    avg_all = sum(df['Innings Runs Scored Num'])/len(sdf)
else:
    avg_all = 0  # or any other appropriate value

avg_virat, avg_all

(0, 0)